.about-wrapper {
    padding: 32px;

    .top-section {
        h3 {
            font-family: var(--is-primary-font-family);
            margin: 16px 0px;
            color: var(--is-primary-background-color);
            letter-spacing: 1px;
            position: relative;
            span {
                position: relative;
                padding-left: 16px;
                margin-right: 12px;
            }
            span:before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: var(--is-primary-background-color);
                margin: 7px 0px 0px -16px;
            }
        }
        p {
            margin-bottom: 16px;
            font-family: var(--is-secondary-font-family);
            color: var(--is-tertiary-text-color);
            line-height: 1.4;
            font-weight: 500;
        }
    }

    .bottom-section {
        display: flex;
        flex-wrap: wrap;
        .skill-container {
            width: 48%;
            margin: 8px 8px;
            p {
                font-family: var(--is-secondary-font-family);
                color: var(--is-primary-background-color);
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .about-wrapper { 
        padding: 16px;
        .top-section {
            h3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 16px;
            } 
        }
        .bottom-section {
            .skill-container {
                width: 90%;
            } 
        }
    }
}
  