<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap');
// @import 'antd/dist/antd.css';

h1,h3,p {
    margin: 0px;
}

.App {
    overflow: hidden;
}

.common-sky-blue-button {
    background: var(--is-tertiary-background-color);
    border: 0px;
    height: 40px;
    width: 140px;
    color: var(--is-primary-background-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--is-primary-font-family);
    margin: 32px 0px;
}

.common-title {
    font-size: 32px;
    font-family: var(--is-primary-font-family);
    // color: var(--is-secondary-text-color);
    color: #020948;
}

.common-card {
    width: 45%;
    /* background: var(--is-quaternary-text-color); */
    /* box-shadow: 0px 5px 65px 0px rgba(0, 0, 0, 0.2); */
    transition: all 400ms;
    padding: 16px 22px 16px 22px;
    margin: 32px 0px;
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 25%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .card-left-section {
        width: 140px;
        .img-section {
            padding: 8px;
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 1px 0px #1677ff, 0 8px 10px -6px rgba(0, 0, 0, 0.1);
            margin-right: 24px;
            border-radius: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 52px;
                height: 52px;
                color: #114d90;
            }
        }
    }
    .card-right-section {
        .common-card-year {
            font-family: var(--is-secondary-font-family);
        }
        .common-card-title {
            margin: 12px 0px;
            font-family: var(--is-primary-font-family);
            color: #020948;
        }
        .common-card-subtitle {
            margin: 4px 0px 12px 0px;
            font-family: var(--is-secondary-font-family);
            color: var(--is-primary-background-color);
        }
        .common-card-desc {
            font-family: var(--is-secondary-font-family);
            color: var(--is-tertiary-text-color);
            font-weight: 400;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width: 575.98px) { 
    .common-title {
        font-size: 22px;
        text-align: center;
    }

    .common-card {
        width: 90%;
        flex-direction: column;
        padding: 22px 12px;
        .card-left-section {
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            .img-section {
                margin-right: 0px;
            }
        }
        .card-right-section {
            text-align: center;
            .common-card-title {
                margin: 4px 0px;
                font-size: 18px;
            }
            .common-card-subtitle {
                margin-top: 0px;
                font-size: 16px;
            }
        }
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap');
// @import 'antd/dist/antd.css';

h1,h3,p {
    margin: 0px;
}

.App {
    overflow: hidden;
}

.common-sky-blue-button {
    background: var(--is-tertiary-background-color);
    border: 0px;
    height: 40px;
    width: 140px;
    color: var(--is-primary-background-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--is-primary-font-family);
    margin: 32px 0px;
}

.common-title {
    font-size: 32px;
    font-family: var(--is-primary-font-family);
    // color: var(--is-secondary-text-color);
    color: #020948;
}

.common-card {
    width: 45%;
    /* background: var(--is-quaternary-text-color); */
    /* box-shadow: 0px 5px 65px 0px rgba(0, 0, 0, 0.2); */
    transition: all 400ms;
    padding: 16px 22px 16px 22px;
    margin: 32px 0px;
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 25%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .card-left-section {
        width: 140px;
        .img-section {
            padding: 8px;
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 1px 0px #1677ff, 0 8px 10px -6px rgba(0, 0, 0, 0.1);
            margin-right: 24px;
            border-radius: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 52px;
                height: 52px;
                color: #114d90;
            }
        }
    }
    .card-right-section {
        .common-card-year {
            font-family: var(--is-secondary-font-family);
        }
        .common-card-title {
            margin: 12px 0px;
            font-family: var(--is-primary-font-family);
            color: #020948;
        }
        .common-card-subtitle {
            margin: 4px 0px 12px 0px;
            font-family: var(--is-secondary-font-family);
            color: var(--is-primary-background-color);
        }
        .common-card-desc {
            font-family: var(--is-secondary-font-family);
            color: var(--is-tertiary-text-color);
            font-weight: 400;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width: 575.98px) { 
    .common-title {
        font-size: 22px;
        text-align: center;
    }

    .common-card {
        width: 90%;
        flex-direction: column;
        padding: 22px 12px;
        .card-left-section {
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            .img-section {
                margin-right: 0px;
            }
        }
        .card-right-section {
            text-align: center;
            .common-card-title {
                margin: 4px 0px;
                font-size: 18px;
            }
            .common-card-subtitle {
                margin-top: 0px;
                font-size: 16px;
            }
        }
    }
>>>>>>> master
}